/*************************
       STYLE GENERAL
*************************/
body {
    background: linear-gradient(100deg, #dbd4c1, #fffaf0, #e4d9c5);
}
* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: rgb(255, 250, 240);
    font-size: 35px;
    font-family: 'New Tegomin', serif;
    margin-bottom: 30px;
    margin-top: -10px;
    text-shadow: 0 0 2px floralwhite;
}
h2 {
    font-family: 'New Tegomin', serif;
    font-size: 30px;
    margin-top: 40px;
}

h3 {
    font-size: 23px;
    font-family: 'New Tegomin', serif;
}


main {
    margin-top: 100px;
} 



section > div {
    margin: 20px 0 40px 0;
}

li {
    margin-top: 20px;
}

a {
   color: #000000;
   font-weight: bold;
}

span {
    font-weight: bold;
}




/*
***************************************************
*   Classes Pour le changement d'état des éléments
***************************************************
*/

.none {
    display: none;
}
.invisible {
    opacity: 0;
}


.visible {
    opacity: 1;
    transition: opacity 1s;
}




/*
**********************
*     HEADER
**********************
*/

.top-header {
    margin-top: 110px;
}

.header-container {
    margin-top: 30px;
    text-align: center;
   
}



/***** Image *****/
.ink-drop-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.black-drop {
    
    animation: fall 1.3s forwards;
    position: relative;
    transform: translateY(100px);
    height: 70px;  
    width: 50px;
    z-index: 2; 
}

.drop-shadow {
    position: relative;
    transform: translateY(135px);
    width: 100px;
    
    z-index: 1;
}


.black-feather {
    transform: translateX(-60px) translateY(40px);
    height: 130px;
    width: 190px;
}

.black-cloud {
    animation: spreads-cloud 2s forwards;
    margin-top: -100px;
    position: relative;
    transform: translateX(5px) translateY(105px);
    z-index: -1;
}


/**** ANIMATION ****/
@keyframes fall {
 from {
     transform: translateY(20px);
 }
 to {
     transform: translateY(145px);
 }
}

 @keyframes spreads-cloud {
    from {
        height: 40px;
        width: 100px;  
    }
    to {
        height: 170px;
        width: 610px;
    }
}




/*
**********************
*       MAIN
**********************
*/

.main-container {
    margin: 70px 80px 0 80px;
}
  .sub-main-container-1 {
      flex-basis: 600px;
      margin-left: 20px;
    }

    .border-shadow {
        border: 10px transparent solid;
        box-shadow: 0 0 10px rgb(73, 69, 69);
        transition: box-shadow 3s;
  }

    .main-sub-block-1 { 
        margin-bottom: 20px;
    }

    .main-sub-block-2 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .section-container {
        flex-basis: 400px;
        display: flex;
    }


 
      .coords-div {
          margin-bottom: 10px;
      }

 
     







/****************************************************************
* Palier à partir de 768 Pixels de large (Tablette et plus grand)
*****************************************************************
*/
   @media (min-width: 768px) and (max-width: 991px) {

    h2 {
        font-size: 35px;
    }


}



/*******************************************************
* Palier à partir de 992 Pixels de large (Format bureau)
********************************************************
*/

@media (min-width: 992px)  {

    /****************
         HEADER
    *****************/

    h2 {
        font-size: 45px;
    }


    /**************
          MAIN
     **************/
     .main-container {
        margin: 70px 100px 0 100px;
    }

       .sub-parent-container {
           display: flex;
           justify-content: space-evenly;
       }

}




